.login-register-container {
    display: flex;
    justify-content: center;  
    align-items: center;  
    height: 100vh;
    background-color: #7ca0e9;  
}

.login-register-box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-register-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-register-box button {
    width: 100%;
    background-color: #007bff;
    color: rgb(249, 249, 249);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-register-box button:hover {
    background-color: #0056b3;
}

.toggle-form {
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.home-link {
    margin-top: 15px;
    display: block;
    color: #555;
    text-decoration: underline;
}
